<!DOCTYPE html>
<html ng-app="RSSFeedApp">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Chismis</title>
    <script type='text/javascript' src="//code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,400italic,700,900' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
    <div data-ng-controller="FeedCtrl">
        <div class="row">
            <div class="col-sm-4">
                <h4>Walang Hiya Kang Chismoso Ka!</h4>
                <form>
                    <div class="input-prepend span12">
                        <div class="btn-group">
                            <!--<button class="btn btn-info" type="button" tabindex="-1">{{loadButonText}}</button>-->
                            <!--<button class="btn btn-info dropdown-toggle" data-toggle="dropdown" tabindex="-1">-->
                            <!--<span class="caret"></span>-->
                            <!--</button>-->
                            <ul >
                                <li><a href="#" ng-click="feedSrc='http://www.tmz.com/rss.xml';loadFeed($event);">TMZ</a></li>
                                <li><a href="#" ng-click="feedSrc='http://www.eonline.com/syndication/feeds/rssfeeds/topstories.xml';loadFeed($event)">E! News</a></li>
                                <li><a href="#" ng-click="feedSrc='http://www.dailymail.co.uk/tvshowbiz/index.rss';loadFeed($event)">DailyMail.UK</a></li>
                                <li><a href="#" ng-click="feedSrc='http://feeds.huffingtonpost.com/huffingtonpost/raw_feed';loadFeed($event)">Huffington Post</a></li>
                                <li><a href="#" ng-click="feedSrc='http://feeds.feedburner.com/TechCrunch';loadFeed($event)">TechCrunch</a></li>
                                <li><a href="#" ng-click="feedSrc='http://www.pep.ph/rss/pep_celebfeed.php';loadFeed($event)">Philippine Entertainment Portal</a></li>
                                <li><a href="#" ng-click="feedSrc='http://pinoygossipboy.net/feed/';loadFeed($event)">Pinoy Gossip Boy</a></li>
                                <li><a href="#" ng-click="feedSrc='http://www.pinoyparazzi.com/feed/';loadFeed($event)">Pinoy Paparazzi</a></li>
                                <li><a href="#" ng-click="feedSrc='http://www.gmanetwork.com/news/rss/videos/show/showbizcentral';loadFeed($event)">GMA Showbiz Central</a></li>
                            </ul>
                        </div>
                        <!--<input type="text" class="span10" autocomplete="off" placeholder="Enter Feed URL" data-ng-model="feedSrc" />-->
                    </div>
                    <!--<div class="input-prepend">-->
                    <!--<span class="add-on"><i class=" icon-search"></i></span>count-->
                    <!--<input class="span12" type="text" data-ng-model="filterText" />-->
                    <!--</div>-->
                </form>
            </div>

        </div>


        <!--<span class="badge badge-warning" ng-show="feeds.length > 0">{{(feeds | filter:filterText).length}} Items</span>-->

        <div class="row masonry">

            <div class="col-md-3" ng-repeat="feed in feeds | filter:filterText">
                <div class="well">
                    <img src="{{feed.image}}" alt="" class="img-responsive"/>
                    <div class="overlay">
                        <div class="overlay-content">
                            <h4 class="media-heading"><a target="_blank" href="{{feed.link}}">{{feed.title}}</a></h4>
                            <p class="text-left">{{feed.contentSnippet}}</p>
                            <span class="small">{{feed.publishedDate}}</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>




        <!--end row-->
    </div>
</div>

<script type='text/javascript' src="scripts/app.js"></script>
<script type="text/javascript" src="scripts/controllers/feedcontroller.js"></script>
<script type="text/javascript" src="scripts/services/feedservice.js"></script>

</body>
</html>