<!DOCTYPE html>
<html ng-app='feedModule'>
<head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
</head>
 
<body ng-controller='FeedCtrl'>
 
<div ng-repeat="feed in feeds | orderBy:'title'">
    <h2><a href="{{feed.link}}" target="_blank">{{feed.title}}</a></h2>
    <p><span ng-repeat="item in feed.entries">
        <a href="{{item.link}}" target="_blank">{{item.title}}</a> (<span>{{item.publishedDate | date:'d-MM-yyyy HH:mm'}}</span>)<br />
    </span></p>
</div>
 
<script src="scripts/app.js"></script>
    
</body>
</html>