<!DOCTYPE html>
<html ng-app="RSSFeedApp">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Chismis</title>
    <script type='text/javascript' src="//code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/jansy-bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,400italic,700,900' rel='stylesheet' type='text/css'>
</head>
<body data-ng-controller="FeedCtrl">

<div >
    <div class="navmenu navmenu-default navmenu-fixed-left">
        <a class="navmenu-brand" href="#">Walang Hiya Kang Chismoso Ka!</a>
        <ul class="nav navmenu-nav">
            <li><a href="#" ng-click="feedSrc='http://www.tmz.com/rss.xml';loadFeed($event);">TMZ</a></li>
            <li><a href="#" ng-click="feedSrc='http://www.eonline.com/syndication/feeds/rssfeeds/topstories.xml';loadFeed($event)">E! News</a></li>
            <li><a href="#" ng-click="feedSrc='http://www.dailymail.co.uk/tvshowbiz/index.rss';loadFeed($event)">DailyMail.UK</a></li>
            <li><a href="#" ng-click="feedSrc='http://feeds.huffingtonpost.com/huffingtonpost/raw_feed';loadFeed($event)">Huffington Post</a></li>
            <li><a href="#" ng-click="feedSrc='http://feeds.feedburner.com/TechCrunch';loadFeed($event)">TechCrunch</a></li>
            <li><a href="#" ng-click="feedSrc='http://www.pep.ph/rss/pep_celebfeed.php';loadFeed($event)">Philippine Entertainment Portal</a></li>
            <li><a href="#" ng-click="feedSrc='http://pinoygossipboy.net/feed/';loadFeed($event)">Pinoy Gossip Boy</a></li>
            <li><a href="#" ng-click="feedSrc='http://www.pinoyparazzi.com/feed/';loadFeed($event)">Pinoy Paparazzi</a></li>
            <li><a href="#" ng-click="feedSrc='http://www.gmanetwork.com/news/rss/videos/show/showbizcentral';loadFeed($event)">GMA Showbiz Central</a></li>
        </ul>
    </div>

    <div class="canvas">
        <div class="navbar navbar-default navbar-fixed-top">
            <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="row masonry">

            <div class="col-md-3" ng-repeat="feed in feeds | filter:filterText">
                <div class="well">
                    <img src="{{feed.image}}" alt="" class="img-responsive"/>
                    <div class="overlay">
                        <div class="overlay-content">
                            <h4 class="media-heading"><a target="_blank" href="{{feed.link}}">{{feed.title}}</a></h4>
                            <p class="text-left">{{feed.contentSnippet}}</p>
                            <span class="small">{{feed.publishedDate}}</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--end canvas-->
</div>
    <script src="scripts/vendor/jansy-bootstrap.js"></script>
<script type='text/javascript' src="scripts/app.js"></script>
<script type="text/javascript" src="scripts/controllers/feedcontroller.js"></script>
<script type="text/javascript" src="scripts/services/feedservice.js"></script>

</body>
</html>