
body {
    font-family: 'Roboto', sans-serif;
}

.small{
    font-size:11px;
}

/*masonry styles*/
.row.masonry {
    -moz-column-width: 25em;
    -webkit-column-width: 25em;
    -moz-column-gap: 1em;
    -webkit-column-gap:1em;

}

.row.masonry > .col-md-3 {
    display: inline-block;
    padding:  .33rem;
    width:  100%;
    float:none;
}

.row.masonry .well {
    /*position: relative;*/

    min-height: 20px;
    padding: 0px !important;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    overflow: hidden;
    border: 1px solid transparent;
}

.overlay-content {
    padding: 10px;
}

h4 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.5em;
}
/*end masonry styles*/